In [1]:
import pandas as pd

In [2]:
url = "https://www.espncricinfo.com/records/highest-career-batting-average-282910"

In [3]:
tables = pd.read_html(url)

HTTPError: HTTP Error 403: Forbidden

In [ ]:
!pip install lxml html5lib

In [ ]:
tables = pd.read_html(url)

In [4]:
df=pd.read_csv("cricinfo.csv")

In [5]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [6]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [7]:
df=df.rename(columns={'Mat':'Matches_played'}) #{'key':'value'}

In [8]:
df

,Player,Span,Matches_played,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [9]:
#renaming multiple columns at a time

In [10]:
df.columns

Index(['Player', 'Span', 'Matches_played', 'Inns', 'NO', 'Runs', 'HS', 'Ave',
       'BF', 'SR', '100', '50', '0', '4s', '6s'],
      dtype='object')

In [11]:
df=df.rename(columns={'Inns':'innings','NO':'not_out','HS':'highest_score','Ave':'average','BF':'balls_faced','SR':'strike_rate'})

In [12]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [13]:
df.isnull().any()

Player            False
Span              False
Matches_played    False
innings           False
not_out           False
Runs              False
highest_score     False
average           False
balls_faced       False
strike_rate       False
100               False
50                False
0                 False
4s                False
6s                False
dtype: bool

In [14]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61    False
Length: 62, dtype: bool

In [15]:
df.columns

Index(['Player', 'Span', 'Matches_played', 'innings', 'not_out', 'Runs',
       'highest_score', 'average', 'balls_faced', 'strike_rate', '100', '50',
       '0', '4s', '6s'],
      dtype='object')

In [16]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

In [17]:
duplicate_rows = df[df['Player'].isin(['AC Voges (AUS)','RG Pollock (SA)','GA Headley (WI)'])]

In [18]:
df = pd.concat([df,duplicate_rows], ignore_index=True)

In [19]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [20]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62     True
63     True
64     True
Length: 65, dtype: bool

In [21]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [22]:
df.dtypes

Player             object
Span               object
Matches_played      int64
innings             int64
not_out             int64
Runs                int64
highest_score      object
average           float64
balls_faced        object
strike_rate        object
100                 int64
50                  int64
0                  object
4s                  int64
6s                  int64
dtype: object

In [23]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [24]:
pd

In [25]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62     True
63     True
64     True
Length: 65, dtype: bool

In [26]:
df.tail(3)

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [27]:
df[df['Player'].isin(['AC Voges (AUS)','RG Pollock (SA)','GA Headley (WI)'])]

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [28]:
df=df.drop_duplicates()

In [29]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [30]:
#split method for splitting it (Span) into start and end date

In [31]:
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
57    [1965, 1981]
58    [2002, 2014]
59    [1924, 1934]
60    [1930, 1938]
61    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [32]:
df['Span'].str.split(pat='-').str[0]

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
57    1965
58    2002
59    1924
60    1930
61    1928
Name: Span, Length: 62, dtype: object

In [33]:
df['start_year']=df['Span'].str.split(pat='-').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6140\3240263256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_year']=df['Span'].str.split(pat='-').str[0]

In [34]:
df['start_year']

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
57    1965
58    2002
59    1924
60    1930
61    1928
Name: start_year, Length: 62, dtype: object

In [35]:
df['end_year']=df['Span'].str.split(pat='-').str[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6140\3495205318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_year']=df['Span'].str.split(pat='-').str[1]

In [36]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          62 non-null     object
 1   Span            62 non-null     object
 2   Matches_played  62 non-null     int64
 3   innings         62 non-null     int64
 4   not_out         62 non-null     int64
 5   Runs            62 non-null     int64
 6   highest_score   62 non-null     object
 7   average         62 non-null     float64
 8   balls_faced     62 non-null     object
 9   strike_rate     62 non-null     object
 10  100             62 non-null     int64
 11  50              62 non-null     int64
 12  0               62 non-null     object
 13  4s              62 non-null     int64
 14  6s              62 non-null     int64
 15  start_year      62 non-null     object
 16  end_year        62 non-null     object
dtypes: float64(1), int64(8), object(8)
memory usage: 8.7+ KB

In [38]:
df['country1']=df['Player'].str.split(pat='(').str[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6140\1424915988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country1']=df['Player'].str.split(pat='(').str[1]

In [39]:
df['country1']=df['country1'].str.split(pat=')').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6140\3446217031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country1']=df['country1'].str.split(pat=')').str[0]

In [40]:
df['country']=df['country'].str.split(pat=')').str[0]

KeyError: 'country'

In [41]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG

In [42]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG

In [43]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

In [44]:
df['Player']=df['Player'].str.split(pat='(').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6140\3262409920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Player']=df['Player'].str.split(pat='(').str[0]

In [45]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis,2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG

In [46]:
df=df.drop(['Span'], axis=1)

In [47]:
df

,Player,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG

In [48]:
df['highest_score']=df['highest_score'].str.split(pat='*').str[0]

In [49]:
df['highest_score']

0     334
1     182
2     269
3     274
4     270
     ...
57    250
58    277
59    266
60    232
61    127
Name: highest_score, Length: 62, dtype: object

In [50]:
df['balls_faced']=df['balls_faced'].str.split(pat='+').str[0]

In [51]:
df['balls_faced']

0      9800
1      1839
2      2667
3      1707
4       416
      ...
57     8662
58    15525
59     3118
60     3217
61     2110
Name: balls_faced, Length: 62, dtype: object

In [52]:
df

,Player,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [53]:
df=df.drop(['country1'], axis=1)

In [54]:
df

,Player,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
61,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 61
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          62 non-null     object
 1   Matches_played  62 non-null     int64
 2   innings         62 non-null     int64
 3   not_out         62 non-null     int64
 4   Runs            62 non-null     int64
 5   highest_score   62 non-null     object
 6   average         62 non-null     float64
 7   balls_faced     62 non-null     object
 8   strike_rate     62 non-null     object
 9   100             62 non-null     int64
 10  50              62 non-null     int64
 11  0               62 non-null     object
 12  4s              62 non-null     int64
 13  6s              62 non-null     int64
 14  start_year      62 non-null     object
 15  end_year        62 non-null     object
dtypes: float64(1), int64(8), object(7)
memory usage: 8.2+ KB

In [56]:
df.dtypes

Player             object
Matches_played      int64
innings             int64
not_out             int64
Runs                int64
highest_score      object
average           float64
balls_faced        object
strike_rate        object
100                 int64
50                  int64
0                  object
4s                  int64
6s                  int64
start_year         object
end_year           object
dtype: object

In [57]:
df['highest_score']=df['highest_score'].astype('int') #for individual changes in data type

In [58]:
df=df.astype({'highest_score':'int','start_year':'int','end_year':'int'}) ##for individual changes in data type within data frame

In [59]:
df.columns

Index(['Player', 'Matches_played', 'innings', 'not_out', 'Runs',
       'highest_score', 'average', 'balls_faced', 'strike_rate', '100', '50',
       '0', '4s', '6s', 'start_year', 'end_year'],
      dtype='object')

In [60]:
new_order = [
    'Player', 'start_year', 'end_year',     # Basic info
    'Matches_played', 'innings', 'not_out', # Match-related stats
    'Runs', 'highest_score', 'average', 'strike_rate', # Batting performance
    '100', '50', '0',                       # Milestones & ducks
    'balls_faced', '4s', '6s'               # Shot-specific & input stats
]

df = df[new_order]

In [61]:
df

,Player,start_year,end_year,Matches_played,innings,not_out,Runs,highest_score,average,strike_rate,100,50,0,balls_faced,4s,6s
0,DG Bradman,1928,1948,52,80,10,6996,334,99.94,58.6,29,13,7,9800,626,6
1,PHKD Mendis,2022,2025,12,21,2,1184,182,62.31,64.38,5,4,-,1839,123,23
2,AC Voges,2015,2016,20,31,7,1485,269,61.87,55.68,5,4,2,2667,186,5
3,RG Pollock,1963,1970,23,41,4,2256,274,60.97,54.48,7,11,1,1707,246,11
4,GA Headley,1930,1954,22,40,4,2190,270,60.83,56,10,5,2,416,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965,1981,74,125,14,5357,250,48.26,49.16,15,33,4,8662,525,23
58,GC Smith,2002,2014,117,205,13,9265,277,48.25,59.67,27,38,11,15525,1165,24
59,WH Ponsford,1924,1934,29,48,4,2122,266,48.22,44.77,7,6,1,3118,119,0
60,SJ McCabe,1930,1938,39,62,5,2748,232,48.21,60.02,6,13,4,3217,241,5
61,DR Jardine,1928,1934,22,33,6,1296,127,48.00,25.59,1,10,2,2110,53,0

## df.btypes